@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css");



#main_div{
	color: black;
	box-shadow: 0 0 15px 5px #ccc;
}

section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.container{
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.col-lg-8 {
	flex: 0 0 auto;
	width: 66.66666667%;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

#footerRow ul {margin:0px;padding:0px}
#footerRow ul li{
  text-align: left;
  list-style:none
}
